/* Fundo da pagina */
.fundoTela {
    background-color: rgb(226, 226, 226);
}

/* Barra de navegação */
.navbar {
    box-shadow:
    3.8px 3.3px 5.5px rgba(0, 0, 0, 0.039),
    9.2px 7.8px 13.3px rgba(0, 0, 0, 0.057),
    17.3px 14.8px 25px rgba(0, 0, 0, 0.07),
    30.8px 26.4px 44.7px rgba(0, 0, 0, 0.083),
    57.7px 49.3px 83.6px rgba(0, 0, 0, 0.101),
    138px 118px 200px rgba(0, 0, 0, 0.14);

    background-color: rgb(30, 170, 170);
}

.nav-link.item {
    color: rgb(255, 255, 255);
}

/* Default height for small devices */
#intro-example {
    height: 600px;
}

#textoTempo {
    color: white; 
    margin-top: 0.4rem; 
    margin-right: -2.5rem;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {

@media (max-width: 992px) {
    #intro-example {
        height: 600px;
    }

    #textoTempo {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

.segundacoluna {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 100px;
    z-index: 4; 
}

.tituloHome {
    margin-top: 50px;
    color: rgb(44, 44, 44);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.tituloNav {
    color: rgb(255, 255, 255);
    font-weight: 900;
    vertical-align: middle;
    margin-top: -1.1rem;
    margin-bottom: -1rem;
    font-size: 20px;
    margin-left: 0.5rem;
    margin-right: 0.1rem;
}

.btnlogin {
    font-size: 18px;
    filter: none;
    color: rgb(44, 44, 44);
}

.btnsaida {
    font-size: 18px;
    filter: none;
    color: rgb(44, 44, 44);
    height: 2.2rem;
    margin-top: 0.1rem;
}

.btnHome {
    margin-top: 0.2rem;
}

.areaSobre {
    margin-top: 6rem;
}

.title {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.sobre {
    text-align: justify;
}

.botoesMenu {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.areaImgUser {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.modal {
    margin-top: 2rem;
}

.divToast {
    box-shadow:
    3.8px 3.3px 5.5px rgba(0, 0, 0, 0.039),
    9.2px 7.8px 13.3px rgba(0, 0, 0, 0.057),
    17.3px 14.8px 25px rgba(0, 0, 0, 0.07),
    30.8px 26.4px 44.7px rgba(0, 0, 0, 0.083),
    57.7px 49.3px 83.6px rgba(0, 0, 0, 0.101),
    138px 118px 200px rgba(0, 0, 0, 0.14);

    margin-top: 1rem;
}

/* Styles required only for the example above */
.scrollbar {
    position: relative;
    height: 285px;
    overflow: auto;
}

.scrollHistorico {
    position: relative;
    height: 20px;
    overflow: auto;
}

.scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #49b8e0;
}

.modalChat {
    transition: 2s;
}

#btnFecharChat {
    border: 0;
    background-color: transparent;
    color: white;
}

input[type='file'] {
    display: none
}

label {
    height: 3rem;
    width: 350px;
    border-radius: 20px;
    vertical-align: middle;
    padding-top: 1rem;
}

.msgPadrao {
    display: none;
}

.msgPadrao2 {
    display: none;
}
