<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.10.18" targetFramework="net48" />
  <package id="Avalonia.Controls.DataGrid" version="0.10.18" targetFramework="net48" />
  <package id="Avalonia.Remote.Protocol" version="0.10.18" targetFramework="net48" />
  <package id="Blazorise.DataGrid" version="1.1.5" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore" version="3.1.19" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.1.19" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.1.19" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.1.19" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.1.19" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.1.19" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.31" targetFramework="net48" />
  <package id="MySqlConnector" version="0.69.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="Pomelo.Data.MySql" version="1.0.0" targetFramework="net48" />
  <package id="Pomelo.EntityFrameworkCore.MySql" version="3.2.7" targetFramework="net48" />
  <package id="Pomelo.JsonObject" version="2.2.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections" version="4.0.11" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net48" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net48" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq" version="4.1.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net48" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading" version="4.0.11" targetFramework="net48" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Xamarin.Forms" version="5.0.0.2515" targetFramework="net48" />
  <package id="Xamarin.Forms.DataGrid" version="5.0.0.2515" targetFramework="net48" />
</packages>